body{ 	background-color:#888;
	color:#555;
		margin:3px;
		padding:0px;					
		position:relative;
		width:100%;
		max-width:1000px;
		margin:auto;
        height:auto;
	}
h1{	color:#eed; 			
	font-size: 75;
	border: 0px solid blue;
	margin:0;
	padding-left:20px; padding-bottom:10px;
	}
p {	padding:0px;}

.PageWrap{
	background-color: #fff9eb;
	height:inherit;	
}

.MenuAndHeader {
	background-color: #1A1D24;
	background-image: url(bg-yellow-verticals.jpg);
	background-repeat: no-repeat;
	border-bottom: 8px solid #f3d005;
}
.nav { border: 0px solid green; display:table; width:100%; max-width:750px; text-align:right; }
.nav ul {list-style-type: none; color:#f3d005; border: 0px solid yellow; display:inline-block; margin:0; }
.nav1 li { display:inline-block; padding:3px 15px; border:0px solid yellow;}
.nav1 a {color:#f3d005; text-decoration:none; }


.content {
    padding: 0px 15px;
}

@media only screen and (max-width: 600px) {
	.nav1 ul{ 
		max-width:300px;
  	}	

}

@media only screen and (max-width: 400px) {

}

