body{ 	background-color:#888;
	color:#555;
		font-family: 'Arimo', sans-serif;
		margin:3px;
		padding:0px;					
		position:relative;
		width:100%;
		max-width:1000px;
		margin:auto;
        height:auto;
	}
h1{	color:#eed; 			
	font-size: 55;
	border: 0px solid blue;
	margin:0; margin-left:110px;
	padding-left:20px; padding-bottom:10px;
	}
p {	padding:0px;}

.PageWrap{
	background-color: #fff9eb;
	height:inherit;	
}

.MenuAndHeader {
	background-color: #1A1D24;
	background-image: url(bg-yellow-verticals.jpg);
	background-repeat: no-repeat;	
	border-bottom: 8px solid #f3d005;
}

.logo {
	float:left; height:100px; width:100px;
}

.nav { border: 1px solid green; float:left; width:100%; max-width:750px; text-align:right; }
.nav ul {list-style-type: none; color:#f3d005; border: 0px solid yellow; display:inline-block; margin:0; }
.nav li { display:inline-block; padding:3px 15px; border:0px solid yellow;}
.nav a {color:#f3d005; text-decoration:none; }


.content {
    padding: 0px 15px;
}

@media only screen and (max-width: 600px) {
	.nav ul{ 
		max-width:300px;
  	}	
}

@media only screen and (max-width: 450px) {
    h1{font-size: 50}  
}

@media only screen and (max-width: 350px) {
    h1{font-size: 40}  
}

